h1 {
  color: rgb(178, 182, 182);
  margin: 40px 120px 20px 0px;
}

.ingresa__tarea {
  width: 600px;
  text-align: center;
  margin: 15px auto;
}

.ingresa__tarea input {
  background: transparent;
  border: none;
  padding: 16px;
  border-bottom: solid 2px rgb(59, 148, 133);
  font-size: 16px;
  color: rgb(161, 149, 149);
  width: 60%;
  transition: all 1s ease;
  right: 0;
  font-weight: bold;
}

.ingresa__tarea input::placeholder {
  color: rgb(100, 199, 182);
  font-weight: bold;
}

.ingresa__tarea input:focus {
  outline: none;
  border-color: rgb(161, 149, 149);
}

button.boton__agregar {
  background: #fff;
  border: 2px solid rgb(100, 199, 182);
  box-shadow: 0 0 0 3px rgb(59, 148, 133);
  ;
  cursor: pointer;
  width: 130px;
  border-radius: 21px;
  padding: 4px;
  color: rgb(59, 148, 133);
  font-weight: bold;
  transition: 0.6s;
}

button.boton__agregar:focus {
  outline: none;
}

button.button__agregar:active {
  transform: scale(1.1);
}